@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/home.png") center/cover, rgba(0, 0, 0, 0.5);*/
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 10vh;
  min-height: 50px;
  padding: 20px;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 83vh;
  min-height: 421px;
}

.ancients-container {
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;
  gap: 35px;
  min-width: 40%;
  padding: 20px;
}

.ancient-card {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  cursor: pointer;
  height: 260px;
  width: 200px;
}

.ancients-container .ancient-card.active {
  border: 2px solid red;
}

#azathoth {
  background-image: url("/assets/Ancients/Azathoth.png");
}

#cthulthu {
  background-image: url("/assets/Ancients/Cthulthu.png");
}

#iogSothoth {
  background-image: url("/assets/Ancients/IogSothoth.png");
}

#shubNiggurath {
  background-image: url("/assets/Ancients/ShubNiggurath.png");
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  justify-content: center;
}

.difficulty  {
  border: 2px solid purple;
  box-sizing: border-box;
  color: purple;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  padding: 5px;
  margin: 15px;
}

.difficulty-container .difficulty.active {
  background-color: red;
}


.deck-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  min-width: 30%;
}

.deck-container .current-state {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 30%;
}

.deck-container .current-state .stage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.deck-container .current-state .stage-container .stage-text {
  color: purple;
}


.deck-container .current-state .stage-container .dots-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.deck-container .current-state .stage-container .dot {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
}

.deck-container .current-state .stage-container .dot.green {
  background-color: green;
}

.deck-container .current-state .stage-container .dot.brown {
  background-color: brown;
}

.deck-container .current-state .stage-container .dot.blue {
  background-color: blue;
}

.deck-container .deck, .deck-container .last-card {
  background-size: cover;
  height: 190px;
  width: 130px;
}

.deck-container .deck {
  cursor: pointer;
  background-image: url("/assets/mythicCardBackground.png");
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}

.rss_git {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
}

ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

li {
  list-style: none;
}

.year {
  color: white;
}
/*==================================================================================*/
.settings-button {
  background-color: rgb(255, 255, 255);
  -webkit-mask: url("../assets/svg/settings.svg") no-repeat center;
  mask: url("../assets/svg/settings.svg") no-repeat center;
  position: absolute;
  left: 20px;
  top: 640px;
  width: 30px;
  height: 30px;
  background-size: 40px 40px;
  transition: 0.5s linear;
  z-index: 10;
  opacity: .5;
  cursor: pointer;

}

.settings-button:hover {
  opacity: 1;
  /*transform: rotate(38deg) scale(1.1); ротация*/
}


.checkBox {
  display: flex;
  flex-direction: column;
  width: auto;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.settings-li{
  list-style: none;
  display: flex;
  gap: 1vw;
  align-items: center;
  margin: 10px;
}



.hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.toggle-icon {
  transform: rotate(38deg) scale(1.1);
  /*transition: transform 0.15s linear;*/
}

.todo {
  transition: 0.8s linear;
}

.todo-button {
  background-color: rgb(255, 255, 255);
  -webkit-mask: url("../assets/svg/todo.svg") no-repeat center;
  mask: url("../assets/svg/todo.svg") no-repeat center;
  position: absolute;
  right: 20px;
  top: 640px;
  width: 30px;
  height: 30px;
  background-size: 40px 40px;
  transition: 0.5s linear;
  z-index: 10;
  opacity: .5;
  cursor: pointer;
}

.todo-button:hover {
  opacity: 1;
}


#task-list, #add-task{
  width: 400px;
  padding: 20px;
}

#add-task {
  margin-top: auto;
}

#task-list ul {
  list-style-type: none;
  padding: 0;
  color: white;
}

#task-list li{
  padding-left: 10px;
  border-left: 5px solid #ddd;
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
}

#task-list li:hover{
  border-color: white;
}

h3.title {
  text-align: center;
}

.delete{
  /*float: right;
  background: rgba(89, 166, 8, 0.8);;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
  color: white;*/
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../assets/svg/delete.svg);
}

.delete:hover{
  background-image: url(../assets/svg/delete1.svg);
}


#add-task input{
  display: block;
  width: 100%;
  margin-top: auto;
  padding: 5px 10px;
  border: 1px solid #ccc;
  /*border: none;*/
  font-size: 16px;
  border-radius: 5px;
  /*box-sizing: border-box;*/
  background-color: rgba(255, 255, 255, 0.5);;
  outline: none;
  color: #333;
}

#add-task button{
  border: 1px solid rgba(89, 166, 8, 0.8);
  background: rgba(89, 166, 8, 0.8);
  padding: 10px 20px;
  font-size: 16px;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 89px 20px 0px;
  border-left: 0;
  color: white;
  float: right;
}

#add-task #hide{
  width: 30px;
}

#add-task label{
  line-height: 52px;
}



@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}